In [1]:
x = int(input ("nombre 1 : "))
y = int(input ("nombre 2 : "))
if ( (x <0 or y < 0) and (x>0 or y>0)) :
    print ("c'est négatif")
else : print ("c'est positif")

nombre 1 : 4
nombre 2 : -7
c'est négatif

In [2]:
x = int(input ("nombre 1 : "))
y=0
for i in range(x+1): 
    y = y + i

print(y)

nombre 1 : 5
15

In [1]:
tab = [4,12,20,6,1,8,32,6]
x=0
for i in range(len(tab)): 
    x = x + tab[i]
    print(x)

print(x)

4
16
36
42
43
51
83
89
89

In [2]:
tab1 = [1,2,3,4,5]
tab2 = [1,2,3,4,5]
x=0
for i in range(len(tab1)): 
    for y in range(len(tab2)): 
        x = x + (tab1[i] * tab2[y])

print(x)

225

In [3]:
tab1 = [1,2,3,4,5,4,7,2,24,5]
indice = 0
x=tab1[0]
for i in range(len(tab1)):  
    if (x<tab1[i]):
        x = tab1[i]
        indice = i 

print('nombre max : ',x, ' en position : ', i-1)

nombre max :  24  en position :  8

In [ ]:
tab1 = [10,10,10,15,15,5,7,9,15,10]
indice = 0
x=0
moyenne=0
for i in range(len(tab1)):  
    moyenne = moyenne+tab1[i] 
moyenne = moyenne/len(tab1)
for i in range(len(tab1)):
        if (tab1[i]>moyenne):  
            x = x+1 
print(x)
print(moyenne)